<!DOCTYPE html>
<html>
<head>
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <form method="POST" action="/insert">
    <div class="form-group">
        <label><b>Singer name:</b></label>
        <input type="text" name="name" class="form-control">
    </div>
    <div class="form-group">
        <label><b>Song name:</b></label>
        <input type="text" name="name" class="form-control">
    </div>
    <div class="form-group">
        <label><b>Band name:</b></label>
        <input type="text" name="name" class="form-control">
    </div>
    <input type="submit" name="insert" value="Insert" class="btn btn-primary">
</form>
</div>
</body>
</html>